@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fire sans Condensed', sans-serif;
}

header {
    text-align: center;
    padding: 40px 0;
    margin: 0;
    background-color: cornflowerblue;
    color: white;
}

main {
    text-align: center;
    margin-top: 20px;
}

#dateInput,
#photosButton {
    margin: 10px;
    padding: 10px;
}

.gallery img {
    width: 50%;
    height: 50%;
    margin: 20px;
}


button {
    border-radius: 10px;
    cursor: pointer;
}